[submodule "vendor/vibe-types"]
	path = vendor/vibe-types
	url = https://github.com/jpablo/vibe-types.git
[submodule "vendor/lucier-room"]
	path = vendor/lucier-room
	url = https://github.com/wigahluk/lucier-room.git
